lpr/

venv/
.venv/
env/
bin/
lib/
share/

__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


.DS_Store
Thumbs.db

*.log
test_images/ 